*.vsidx
*.ipch
*.pdf

# Compiled binaries
*.exe
*.pdb
*.ilk
*.obj
*.lib

# Build output folders
BIN/
OBJ/
VC/Asteroids/Debug/
VC/Asteroids/Release/
VC/Engine/Debug/
VC/Engine/Release/

# Visual Studio local files
*.suo
*.user
*.ncb
*.sdf
*.idb
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.opendb
*.slnx.sqlite
*.wsuo
.vs/
**/.vs/
